@import "tailwindcss";

.animate-custom-fade {
  animation: custom-fade 3s ease-out 0s forwards;
}

@keyframes custom-fade {
  0% {
    opacity: 0;
    transform: translateY(-7px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointerevents: none;
  }
}
